<div>
    <a href="/topics/create">
        <p>Create a new topic</p>
    </a>
    <% if(locals.topics) { %>
        <ul>
            <% locals.topics.forEach(topic => { %>
                <li>
                    <a href="/chat/<%= topic.topicid %>">
                        <p><%= topic.title %></p>
                    </a>
                    <p>By: <%= locals?.currentUser?.membership ?  topic.username : "Anonymous" %></p>
                    <p><%= topic.timestamp %></p>
                    <% if(locals?.currentUser?.admin) { %>
                        <form action="/topic/delete/<%= topic.topicid %>" method="post">
                            <button type="submit">Admin: Delete this topic?</button>
                        </form>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>It doesn't look like anyone has posted a topic yet, be the first!</p>
        <% } %>
</div>