
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Create a Topic</title>
</head>
<body>
    <header>
        <%- include("components/nav") %>
      </header>
    <main>
        <h1> <%= topic.title %> </h1>
        <div>
            <div>
                <h3>
                    <% if( locals.currentUser && currentUser.membership){ %>
                        <%= topic.username %>
                    <% } else { %>
                        Anonymous
                    <% } %>
                </h3>
                <h3>
                    <%= topic.timestamp %>
                </h3>
                <p>
                    <%= topic.content %>
                </p>
            </div>
            <% if(locals.posts && locals.posts.length > 0) { %>
                <ul>
                    <% locals.posts.forEach(post => { %>
                        <li>
                            <p>post.username</p>
                            <p>post.timestamp</p>
                            <p>post.content</p>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>It doesnt look like any one has replied yet.</p>
                <% } %>
        </div>
        <% if( locals.currentUser && currentUser.membership ) { %>
            <%- include("components/postForm") %>
        <% } else { %>
            <p>You need to be signed in to create a new reply!</p>
            <% } %>
    </main>
</body>
</html>